/* src/components/FAQSection.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

.faq-section {
  font-family: 'Inter', sans-serif;
  max-width: 900px;
  margin: 60px auto; /* Отступы сверху и снизу */
  padding: 0 20px;

}

.faq-title {
  font-size: 1.5em;
  color: black;
  margin-bottom: 30px;
  font-weight: 600;
}

.faq-list {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  overflow: hidden; /* Для красивых границ аккордеона */
}

.faq-item {
  border-bottom: 1px solid #eee;
}

.faq-item:last-child {
  border-bottom: none; /* Убираем нижнюю границу у последнего элемента */
}

.faq-question {
  background-color: #f5f5f5;
  color: #333;
  cursor: pointer;
  padding: 18px 25px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.1em;
  font-weight: 600;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-question:hover {
  background-color: #e0e0e0;
}

.faq-question.active {
  background-color: #e0e0e0;
  color: #3f51b5; /* Активный вопрос синим */
}

.faq-icon {
  font-size: 1.5em;
  font-weight: bold;
  color: #666;
  transition: transform 0.3s ease;
}

.faq-question.active .faq-icon {
  transform: rotate(180deg); /* Иконка поворачивается при раскрытии */
}

.faq-answer {
  padding: 0 25px;
  background-color: #f9f9f9;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out, padding 0.4s ease-out; /* Анимация раскрытия */
  text-align: left;
}

.faq-answer.show {
  max-height: 200px; /* Достаточно большое значение для анимации */
  padding: 15px 25px; /* Возвращаем padding при раскрытии */
}

.faq-answer p {
  color: #555;
  font-size: 0.95em;
  line-height: 1.6;
  margin: 0;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
  .faq-title {
    font-size: 1.8em;
  }
  .faq-question {
    font-size: 1em;
    padding: 26px 20px;
  }
  .faq-answer {
    padding: 5px 20px;
  }
  .faq-answer.show {
    padding: 10px 20px;
  }
  .faq-title{
    font-size: em;
  }
}
@media (max-width:325px) {
  .faq-title{
    font-size: 1.5em;
  }
  .hg{
    font-size: 12em;
  }
}
.hg{
  font-size: 1.5em;
  font-weight: 600;
  margin-top: 100px;
  margin-bottom: 10px;
}